<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "kdk-fountain-view.jpg" %>
  </div>
  
  <div id="content">
    <h1>KDK College of Engineering</h1>
    <p>The Karmavir Dadasaheb Kannamwar College of Engineering, situated in the heart of India in Nagpur city, established in 1984 by Backward Class Youth Relief Committee (BCYRC) is one of the leading engineering colleges in Maharashtra State.</p>

    <p>Government of Maharashtra has conferred 'A' Grade on the basis of excellence & adequate infrastructure as well as academic achievements of students and faculty. It is approved byAICTE New Delhi, DTE, Government of Maharashtra. The college successfully continues to attract attention of scholars from all over the subcontinent.</p>     
  </div>
</div>